{% extends 'body.html' %}
{% load static %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <!-- Add DataTables CSS (optional, if not already included) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <script src="{% static 'lib/datatables-1.13.8/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.13.8/js/dataTables.bootstrap5.min.js' %}"></script>
{% endblock  %}

{% block content %}
<div class="col-md-6">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{title}}
            </h3>
    </div>
    <div class="card-body">
        <table class="table" id="data">
            <thead>
                {% block columns %}
                
                {% endblock  %}

            </thead>
            <tbody>
            {% block rows %}

            {% endblock  %}

            </tbody>
          </table>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary btn-flat">
            <i class="fas fa-plus"></i> NUEVO REGISTRO
        </button>                
    </div>
</div>
{% endblock  %}
{% block javascript %}
    <script type="application/javascript">
        $(function() {
            $('#data').DataTable({
                responsive: true,
                autowidth: false
            });
        });
    </script>
{% endblock %}